﻿@model  Turner.Models.ViewModels.TitlesViewModel

<div class="jumbotron">
    <h1>Movie Awards</h1>
    <p class="lead">This application lets you search our database for award-winning movies and shows you what they won!</p>
</div>

<div class="row">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputSearch" class="col-lg-3 control-label">Enter part of a title to search:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="inputSearch" placeholder="Search Text" />
                </div>
                <div class="col-lg-2">
                    <button id="buttonSearch" type="button" class="btn btn-primary">Search Now!</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody id="titlesTableBody">
@foreach (var item in Model.Titles)
{
            <tr>
                <td class="movie-title" data-movieid="@item.TitleId">@item.TitleName</td>
            </tr>
}
        </tbody>
    </table>
</div>

<div class="modal fade" id="movieDetails" tabindex="-1" role="dialog" aria-labelledby="movieDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="movieDetailsLabel"></h4>
                <p>Also known as: <span id="othernames"></span></p>
                <p>Genres: <span id="genres"></span></p>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="#storyline" data-toggle="tab">Storyline</a></li>
                    <li><a href="#cast" data-toggle="tab">Cast</a></li>
                    <li><a href="#crew" data-toggle="tab">Crew</a></li>
                    <li><a href="#awards" data-toggle="tab">Awards</a></li>
                </ul>
                <div id="tabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="storyline">
                        
                    </div>
                    <div class="tab-pane fade" id="cast">
                        <h4>Main Actors</h4>
                        <p id="mainactors"></p>
                        <h4>Other Actors</h4>
                        <p id="otheractors"></p>
                    </div>
                    <div class="tab-pane fade" id="crew">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody id="crewlist">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="awards">
                        <h4>Awards Won</h4>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Award</th>
                                </tr>
                            </thead>
                            <tbody id="awardlist"></tbody>
                        </table>
                        <h4>Nominations</h4>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Nominated For</th>
                                </tr>
                            </thead>
                            <tbody id="nominationlist"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/homepage.js" type="text/javascript"></script>
}
